<div class="bg-black">
    <section class="container mx-auto">
        <h3 class="pt-4 pb-3 text-white">All orders</h3>
        <% if(messages.success) { %>
            <div id="success-alert" class="d-flex align-items-center bg-success text-white fw-bold px-4 pt-3"
                role="alert">
                <p>
                    <%= messages.success %>
                </p>
            </div>
            <% } %>
                <table class="table table-striped">
                    <thead class="fw-bold table-primary">
                        <tr>
                            <td>Orders</td>
                            <td>Phone</td>
                            <td>Address</td>
                            <td>Time</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(orders.length) { %>
                            <% orders.forEach((order)=>{ %>
                                <tr>
                                    <td><a class="text-decoration-none" href="/customers/orders/<%= order._id %>"><%= order._id %></a></td>
                                    <td>
                                        <%= order.phone %>
                                    </td>
                                    <td>
                                        <%= order.address %>
                                    </td>
                                    <td>
                                        <%= moment(order.createdAt).format('hh:mm A') %>
                                    </td>
                                </tr>
                                <% }) %>
                                    <% } else { %>
                                        <tr>
                                            <td class="p-4">
                                                <span>No Orders Found!</span>
                                            </td>
                                        </tr>
                                        <% } %>
                    </tbody>
                </table>
    </section>
</div>